@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <ul>
        @foreach (var post in Model.Posts)
        {
            <li><a asp-page="Post" asp-route-key="@post.Key">@post.Title</a></li>
        }
    </ul>
</div>